doctype
html()
	head
		title My Index
		// vendorInject:css
		// endinject
		// inject:css
		// endinject
	body
		h1 HELLO 
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dignissimos incidunt cum eveniet, voluptatem quidem, autem aspernatur aperiam esse blanditiis tenetur eligendi eius quisquam veritatis pariatur temporibus quis sequi. Labore.
		// vendorInject:js
		// endinject
		// inject:js
		// endinject
