doctype
html
	head
		title Welcome
	body
		h1 Hello 
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ipsum quos amet, perferendis ipsam saepe atque, soluta laboriosam voluptatum sint facilis voluptas quasi consequuntur. Beatae hic asperiores, a rem ex!